-- MENGAKTIFKAN STOK PER OUTLET
ALTER TABLE bahan ADD COLUMN IF NOT EXISTS outlet_id UUID;

-- MEMPERBARUI FUNGSI PENGURANGAN STOK AGAR SADAR LOKASI
CREATE OR REPLACE FUNCTION decrement_stock(row_id UUID, qty_to_sub NUMERIC, t_id UUID, o_id UUID)
RETURNS void AS 
BEGIN
  UPDATE bahan
  SET stock = stock - qty_to_sub
  WHERE id = row_id 
    AND tenant_id = t_id 
    AND (outlet_id = o_id OR outlet_id IS NULL); -- Fallback jika outlet belum diset
END;
 LANGUAGE plpgsql;
